# ===================== mineru api以及url处理地址 =====================
MINERU_API_TOKEN=sk-xxx
MINERU_BASE_URL=https://mineru.net/api/v4

# ===================== 文本和视觉模型配置 =====================
# api_key申请地址：https://bailian.console.aliyun.com/cn-beijing/?spm=5176.29597918.J_SEsSjsNv72yRuRFS2VknO.2.4d877b08ThdGtP&tab=model#/api-key
# 大模型的文档地址：https://bailian.console.aliyun.com/cn-beijing/?spm=5176.29597918.J_SEsSjsNv72yRuRFS2VknO.2.4d877b08ThdGtP&tab=doc#/doc
# Qwen3系列Flash模型，实现思考模式和非思考模式的有效融合，可在对话中切换模式。复杂推理类任务性能优秀，指令遵循、文本理解等能力显著提高。支持1M上下文长度，按照上下文长度进行阶梯计费。
LLM_DEFAULT_MODEL=qwen-flash
#Qwen3系列小尺寸视觉理解模型，实现思考模式和非思考模式的有效融合，效果优于开源版Qwen3-VL-30B-A3B，响应速度快。全面升级图像/视频理解，支持长视频长文档等超长上下文、
#空间感知与万物识别；具备视觉2D/3D定位能力，胜任复杂现实任务。
VL_MODEL=qwen3-vl-flash
OPENAI_API_KEY=sk-xxxURazUXNpfFkWJhnTifJoD8M4folh38LdQ
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_DEFAULT_TEMPERATURE=0.1

# ===================== minio客户端配置 =====================
MINIO_ENDPOINT=192.168.10.150:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=knowledge-base-files
MINIO_IMG_DIR=/upload-images
#是否使用 HTTPS/TLS 加密连接 False:HTTP明文连接    True:HTTPS TLS 加密连接
MINIO_SECURE=False

# ===================== embedding模型客户端配置 =====================
# 进行向量生成 魔搭下载模型到本地
# BGE-M3模型本地缓存/部署路径（本地加载模型时使用，指向ModelScope下载的模型目录）
BGE_M3_PATH=D:\ai_models\modelscope_cache\models\BAAI\bge-m3
# BGE-M3模型官方标识（ModelScope/HuggingFace通用，拉取模型时使用）
BGE_M3=BAAI/bge-m3
# BGE-M3运行设备，cuda:0表示使用第1块GPU，cpu表示使用CPU，cuda:N表示第N+1块GPU
#BGE_DEVICE=cuda:0
# cpu
BGE_DEVICE=cpu
# BGE-M3是否开启FP16半精度推理，1=开启（GPU加速更高效），0=关闭（兼容低版本GPU/CPU）
# cpu 需要关闭 0  GPU 上生成向量通常默认开启了半精度浮点数（FP16）加速，而 CPU 上通常使用单精度（FP32）
BGE_FP16=0

# ===================== Milvus模型客户端配置 =====================
# 切换成你milvus的url地址
MILVUS_URL=http://192.168.10.150:19530
# 存储切片集合
CHUNKS_COLLECTION=kb_chunks
# 存储每个文档对应的实体类
ITEM_NAME_COLLECTION=kb_item_names
# 预留
ENTITY_NAME_COLLECTION=kb_graph_entity_names

# ===================== Mongodb的配置 =====================
MONGO_URL=mongodb://192.168.10.150:27017
MONGO_DB_NAME=kb002

# ===================== mcp的配置 =====================
MCP_DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/api/v1/mcps/WebSearch/mcp

# ===================== 重排序模型配置 =====================
BGE_RERANKER_LARGE=D:\ai_models\modelscope_cache\models\rerank\BAAI\bge-reranker-large
#BGE_RERANKER_DEVICE=cuda:0
BGE_RERANKER_DEVICE=cpu
#BGE_RERANKER_FP16=1
BGE_RERANKER_FP16=0

# ===================== 日志配置 =====================
# 控制台日志：True=开启/False=关闭，级别可选(DEBUG/INFO/WARNING/ERROR/CRITICAL)
LOG_CONSOLE_ENABLE=True
LOG_CONSOLE_LEVEL=DEBUG

# 日志配置
# 文件日志：True=开启/False=关闭，级别与控制台可独立设置
LOG_FILE_ENABLE=True
LOG_FILE_LEVEL=DEBUG
# 日志文件保留天数（自动删除过期日志，避免磁盘占满）
LOG_FILE_RETENTION=7 days